@import "tailwindcss";

@font-face {
  font-family: "Chillax";
  src: url("/fonts/Chillax-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-rethink-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #white;
    --foreground: #black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
 overflow-x: hidden;
}

